<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suites">
    <test name="TestSuite">
        <classes>
            <class name="selenium.runner.TestRunner"/>
            <class name="rest_assured.ApiTest"/>
        </classes>
    </test>
</suite>